@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root{
    --font-header: "Bricolage Grotesque";
    --font-nav: Arial;

}

*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    background-color: white;
}

header{
    
    background-image: url(../image/background/bg-wide.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;

    width: 100vw;
    height: 100vh;
      
}

header > nav{
    position: absolute;

    left: 50%;
    top: 5%;

    transform: translate(-50%);
    word-spacing: 40px;
}

#navbotton > a{
    font-family: var(--font-nav);
    color: white;
    text-decoration: none;
    font-size: 1em;
    
}

#navbotton > a:hover{
    text-decoration: underline;
    
}


header > div{
    position: absolute;

    left: 62%;
    top: 18%;
    width: 350px;

    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;
    

    padding: 15px;
    line-height: 40px;
    color: antiquewhite;
}
header > div > h1{
    font-size: 2.2em;
    font-family: var(--font-header);
    text-align: center;
}

header > div > p{
    font-family: var(--font-header);
    text-indent: 20px;
    text-align: justify;
}

main h2{
    padding: 50px 0px;
    text-align: center;
}
main > h3{
    text-indent: 50px;
    text-decoration: underline;

}

#div-main{
    height: auto;
    width: 700px;
    margin: auto;
      
}

.image{
    align-items: center;
    justify-content: center;
    width: 120px;
}


.vitrine-container{
    display: flex;
    
    gap: 16px;
    margin: 20px 10px;

    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    
    flex-wrap: nowrap;
    max-width: 100%;

    appearance: none;
    
   
}

.vitrine-itens{
    min-width: 200px;
    overflow-x: auto;
    border-radius: 30px;
    background-color: rgba(211, 211, 211, 0.623);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vitrine-texto{
    padding: 10px 0px;
}

button{
    background-color: red;
    color: white;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.322);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

button:hover{
    transform: translate(-3px, -3px);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.322);
}
