@charset "UTF-8";

@media (max-width: 550px) {
  body{
    overflow-x: hidden;
  }

  header > nav.navbar > ul{
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-content: center;
    gap: 10px;
    list-style: none;
  }
  header > nav.navbar > ul > li {
   margin: 0.5rem 0;
  }
  div.primeiro-conteudo{
    grid-template-columns: 1fr;
    box-sizing: border-box;
  }
  article.intro{
    display: grid;
    gap: 1rem;
    align-content: center;
    justify-items: start;
    text-align: left;
    background-color: #fff;

  }
  article.intro > h1::before{
    display: none;
  }
  section.imagem{
    display: block;
    max-width: 100%;
    object-fit: cover;
  }

  div.segundo-conteudo{
    grid-template-columns: 1fr;
  }

  article.vantagens{
    background-color: #fff;
  }
  article.texto-grande{
    display: grid;
    place-self: center;
  }
  article.texto-grande > h2{
    text-align: center;
    word-break: break-all;
    font-size: 2.5rem;
    color: #c6c6c6;
    text-transform: uppercase;
  }
}

@media (max-width: 1000px){
  div.segundo-conteudo{
    grid-template-columns: 1fr;
  }
}