@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  font-family: Arial;
}
body{
  background-color: #f7f7f7;
}
p{
  font-size: 20px;
}
#titulo{
  position: relative;
  margin: 50px 0;
  left: 50%;
  transform: translateX(-50%);

}
.navbar{
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  place-content: center;
}
.button{
  background-color: #fff;
  font-variant: small-caps;
  color: black;
  text-align: center;
  font-size: 1.3em;
  text-decoration: none;
  padding: 20px 30px; 
}
.main-grid{
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(2, 500px);
  place-content: center;
}
.foto{
  max-width: 100%;
}

.item1{
  position: relative;
  background-color: white;
  text-align: right;
  padding: 50px 40px;
}
.detalhe{
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: red;
  top: 30px;
  right: -30px;
}
.item1 > h1{
  margin-top: 40px;
}
.item1 > p{
  margin-top: 30px;
}
#link{
  display: inline-block;
  margin-top: 25px;
  font-size: 1em;
  background-color: #ee2211;
  border-radius: 5px;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
}
.item3{
  display: grid;
  place-content: center;
}
.item3 > h1{
  text-align: right;
  font-size: 4em;
  color: #c6c6c6;
  margin: 50px;
}
.item4{
  background-color: white;
  padding: 50px;
}
.item4 > .icon{
  display: block;
  width: 25px;
}
.sub-item{
  display: grid;
  grid-template-columns: 25px auto;
  margin-top: 30px;
  gap: 20px;
}
.sub-item > p{
  grid-column: 2;
}
footer{
  margin-top: 50px;
  padding: 40px;
  text-align: center;
  background-color: white;
}