@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
}

header img{
  display: block;
  width: 150px;
  margin: 50px auto;

}  
header > nav.navbar > ul{
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  gap: 1.5rem;
  list-style: none;
}
header > nav.navbar a{
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 1rem;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  background-color: #fff;
}
header > nav.navbar a:hover{
  border: 2px solid #e21;
}

main.main-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  place-self: center;
  margin: 5rem 0;
  max-width: 1000px;
}
article.intro{
  display: grid;
  gap: 1.87rem;
  align-content: center;
  justify-items: end;
  text-align: right;
  background-color: #fff;
  padding: 2.5rem;
}
article.intro > h1{
  position: relative;
}
article.intro > h1::before{
  content: "";
  position: absolute;
  top: -40px;
  left: 360px;

  width: 60px;
  height: 4px;
  background-color: red;
}
article.intro p {
  font-size: 1.25rem;
}
article.intro a{
  color: #fff;
  background-color: #e21;
  padding:  1rem 1.87rem;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
}
section.imagem img{
  display: block;
  max-width: 100%;
  object-fit: cover;
  object-position: center top;
}
article.texto-grande{
  display: grid;
  align-items: center;
  justify-content: end;
  padding: 4rem;
}
article.texto-grande > h2{
  text-align: right;
  font-size: 4rem;
  color: #c6c6c6;
  text-transform: uppercase;
}
article.vantagens{
  padding: 2.5rem;
  background-color: #fff;
}
article.vantagens-itens{
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, auto);
  gap: 10px 20px;
  padding: 1.80rem;
}
article.vantagens-itens:hover{
  transform: translate(2px);
}
article.vantagens-itens:hover::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background-color: red;
}

article.vantagens-itens:nth-child(odd){
  background-color: #f7f7f7;
}
article.vantagens-itens h2{
  font-size: 1.3rem;
  text-transform: capitalize;
}
article.vantagens-itens p {
  grid-column: 2;
  font-size: 1.25rem;
}

footer{
  padding: 2.5rem;
  background-color: #fff;
  text-align: center;
}
