@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}
header{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 1200px;
}
.navbar > ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: end;
  gap: 50px;
  list-style: none;
}
.navbar a{
  text-transform: capitalize;
  color: #000;
  font-size: 1.22rem;
  text-decoration: none;
}
@media (max-width: 1200px){
  header{
    justify-items: end;
  }
  .logo{
    padding-left: 20px;
  }

  .navbar{
    padding-right: 20px;
  }
  
}

@media (max-width: 650px) {
  header{
    grid-template-columns: 1fr;
    place-content: center;
  }
  .logo{
    display: block;
    margin: 0 auto;
  }
  .navbar{
    display: block;
    margin: 0 auto;
  }
  .navbar > ul {
    margin-top: 50px;
    gap: 10px;
  }
  .navbar a{
    font-size: 1rem;
    background-color: #f5f5f5;
    padding: 7px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.267);
  }
}

