@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body, html{
    background-image: linear-gradient(180deg, #5f2f83, #499b9c);
    height: 100vh;
    width: 100vw;
}


main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    border-radius: 20px;
    height: 500px;
    width: 250px;
    

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transition-timing-function: ease;
}

#login > #imagem{
    display: block;
    background: #5f2f83 url(../image/metal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 200px;

}

#login > #formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;

}

div#formulario > p{
    font-size: 0.8em;
}

div.campo{
   background-color: #5f2f83;
   display: block;
   width: 100%;
   height: 45px;
   border-radius: 5px;
   margin: 5px 0px;  

}
div.campo > input{
    background-color: #499b9c;
    font-size: 1em;
    text-indent: 5px;
    transform: translateY( -7.9px);
    height: 95%;
    width: calc(100% - 45px);
    border: none;
    border-radius: 8px 5px 5px 8px;
}

div.campo > input:focus-within{
    background-color: white;
    border: none;
    text-indent: 5px;
}

div.campo > input::placeholder{
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.712);
    text-indent: 5px;
}

div.campo > label > i{
    width: 40px;
    font-size: 2em;
    width: 40px;
    color: white;
    padding: 5px;
}

div#enviar{
    display: block;
    text-align: center;
    margin: 15px 0px;
}

div#enviar > #botton{
    width: 100%;
    background-color: #499b9c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

div#enviar > #botton:hover{
    background-color: white;
    color: black;
    border: 1px solid #499b9c;
}

div#esqueci-a-senha {
    width: 100%;
    padding: 10px;
    border:2px solid #499b9c;
    border-radius: 5px;
    text-align: center;
}

div#esqueci-a-senha:hover {
    background-color: #499b9c96;
    color: white;
}
div#esqueci-a-senha > a{
    color: #499b9c;
    text-decoration: none;
}

div#esqueci-a-senha > a > i{
    font-size: 1em;
}

@media screen and (max-width: 768px) {

    section#login{
        height: auto;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    section#login{
        width: 80vw;
        height: 350px;
    }

    #login > #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    #login > #formulario{
        float: right;
        height: 100%;
        width: 70%;
    }

    div#formulario > p{
        font-size: 1em;
    }

}

@media screen and (min-width: 992px) {


    section#login{
        width: 990px;
        height: 400px;
    }

    #login > #imagem{
        float: right;
        width: 30%;
        height: 100%;
    }

    #login > #formulario{
        float: left;
        width: 70%;
    }

    div#formulario > h1{
        font-size: 2.5em;
    }

    div#formulario > p{
        font-size: 1.5em;
    }

    
}